@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif; 
}

body {
    background-color: #303138;
    padding: 1.5rem;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    align-items: center;

}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 30px 90px;
}

.nav-item {
    display: flex;
    justify-content: center;
    padding: 25px 15px;
    margin: 10px;
    border-style: solid; 
    border-color:  rgb(234, 234, 241);
    border-radius: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 400;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu{
    display: none;
}

